<!DOCTYPE html>
<html>
<head>
  <title>Destinations - Boston</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

 <!-- Golden Gate CSS sheet -->




    <!--Bootsrap 4 CDN-->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">


    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>
    <!-- Navigation -->


    <section>
    <div class="headline">
    <h1>Boston</h1>
    <h3>City in Massachusetts</h3>
     <p>
        Boston's four centuries of history are exhibited by the city's must-see sights. Boston isn't just a center point for baseball, scholarly universities, and brownstones. It's additionally home to America's first extensive free municipal open library, the primary subway framework, the principal state-funded school, and the open park. To state the city is historic would be underscoring it, however, this mischievous brilliant school town doesn't linger in the historic remains, either.
        </p>
    </div>


    <div class="container square-grid">

        <div class="card-deck mb-5">
        <div class="card" style="color: #555;">
            <div class="card-body">
            <img src="/assets/images/boston_common.png" alt="Boston Common picture" class="img-fluid"/>
            <h4 class="card-title mt-2">Boston Common</h4>
            <h6 class="card-subtitle">Central public park</h6>
            </div>
        </div>
        <div class="card" style="color: #555;">
            <div class="card-body">
            <img src="/assets/images/boston_marketplace.png" alt="Boston faneuil picture" class="img-fluid"/>
            <h4 class="card-title mt-2">Faneuil Hall</h4>
            <h6 class="card-subtitle">Shopping center</h6>
            </div>
        </div>
        <div class="card" style="color: #555;">
            <div class="card-body">
            <img src="/assets/images/boston_freedomtrail.png" alt="Freedom Trail picture" class="img-fluid"/>
            <h4 class="card-title mt-2">Freedom Trail</h4>
            <h6 class="card-subtitle">Historic pathway</h6>
            </div>
        </div>
        <div class="card" style="color: #555;">
            <div class="card-body">
            <img src="/assets/images/boston_fenwaypark.png" alt="fenway park picture" class="img-fluid"/>
            <h4 class="card-title mt-2">Fenway Park</h4>
            <h6 class="card-subtitle">Baseball park</h6>
            </div>
        </div>
        </div>


        <div class="row">
            <div class="col-md-6">
             <h4>Best Activities</h4>
             <p>
            Begin your visit on the Freedom Trail, which will lead you to tourist spots like the Paul Revere House and Boston Common. Or on the other hand, find Beantown's refined side at the Museum of Fine Arts and its style sense along Newbury Street. In case you're a devotee of baseball, you can't miss getting a diversion at Fenway Park, home to the cherished Red Sox. In spite of the fact that blowing through your movement subsidize is a snap in Boston, there are additionally a lot of activities that won't cost you a dime; the exquisite Boston Public Garden and the exuberant Faneuil Hall Marketplace can be experienced without being a spendthrift!
            </p>
            </div>
            <div class="col-md-6">
             <h4>Best Restaurants</h4>
                <p>
              #01 Sam LaGrassa's <br/>
              #02 Salumeria Italiana <br />
              #03 Mario's Restaurant <br />
              #04 Italian Express Pizzeria <br/>
              #05 Monica’s Mercato and Salumeria <br />
              #06 Maria's Pastry Shop <br />
              #07 Bova's Bakery <br/>
              #08 Ostra <br />
              #09 Mistral <br />
              #10 SRV Restaurant
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <h4>Best time to travel</h4>
              <p>The best time to visit Boston is from June to October. Gentle fall climate makes visiting around by walking a delight. Furthermore, despite the fact that mid-year acquires swarms of voyagers and costly in rates, the walkway bistros, ball games, and open-air shows make it worth an excursion. Winter is crisp, so pack a comfortable coat and a couple of boots on the off chance that you choose to see Beantown sprinkled (or inundated) with snow. Another motivation: you may get a lot on lodging. On the off chance that winter is unseasonably cold for you however summer and pre-winter's lodging rates fall outside your financial plan, take a stab at visiting toward the beginning of the spring season.</p>
            </div>
            <div class="col-md-6">
              <h4>Best Hotels</h4>
              <p>
              #01 XV Beacon <br/>
              #02 Boston Harbor Hotel <br />
              #03 Mandarin Oriental <br />
              #04 Four Seasons Hotel <br/>
              #05 The Ritz-Carlton <br />
              #06 The Liberty <br />
              #07 Fairmont Copley Plaza <br/>
              #08 Hotel Commonwealth <br />
              #09 Intercontinental Boston <br />
              #10 The Eliot Hotel
              </p>
            </div>
          </div>
        </div>

    <div class="map">

   <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3020785.7883390165!2d-73.21226159530599!3d42.32149476936729!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89e3652d0d3d311b%3A0x787cbf240162e8a0!2sBoston%2C+MA!5e0!3m2!1sen!2sus!4v1555610113282!5m2!1sen!2sus" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>

        </div>

   </section>
</body>
</html>
