<div class="parallax-container">
  <p class="white-text right-align header">
    bibendum arcu vitae elementum curabitur
  </p>
  <div class="valign-wrapper h100">
    <h1 class=" white-text overlay center-align">
      viverra aliquet eget sit amet
    </h1>
    <div class="parallax grey lighten-1" materialize="parallax">
      <img src="https://images.unsplash.com/photo-1497042915201-daf0dd6fdc09?auto=format&fit=crop&w=1950&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D">
    </div>
  </div>
</div>

<div class="section white valign-wrapper">
  <div class="row container center-align">
    <h5 class="story-header">sollicitudin ac orci phasellus egestas</h5>
    <br />
    <p class="grey-text text-darken-3 lighten-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Leo duis ut diam quam nulla. At quis risus sed vulputate odio ut enim blandit. Nullam eget felis eget nunc lobortis mattis
      aliquam faucibus. Consectetur libero id faucibus nisl tincidunt.</p>
  </div>
</div>
