<!DOCTYPE html>
<html>
<head>
  <title>TripWithUs!</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!--Icons CSS-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <!--Google fonts CSS: Lato, Sans-serif -->
  <link href="https://fonts.googleapis.com/css?family=Lato:100,300,300i,400" rel="stylesheet">

  <!--Bootstrap CSS file-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


</head>
<body>
    <!--Navigation section-->
    <nav class="navbar navbar-expand-md">
        <a class="navbar-brand"><img src="/assets/images/sheero.png" alt="sheero_logo" class="sheero"></a>
        <span class="navbar-text mx-auto">TripWithUs!</span>

        <button class="navbar-toggler ml-auto navbar-light bg-light" data-toggle="collapse" data-target="#collapse_target">

            <span class="navbar-toggler-icon"></span>

        </button>

        <div class="collapse navbar-collapse" id="collapse_target">
        <ul class="navbar-nav ml-auto">

            <li class="nav-item">
                <a class="nav-link" routerLink="">Home</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" routerLink="aboutus">About Us</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" routerLink="signup">Sign Up</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" routerLink="login">Login</a>
            </li>

        </ul>
        </div>
    </nav>
    <!-- page Content starts here -->

    <div class="container">
        <div class="headline">
        <h1>About Us</h1>
        <p> Welcome to our website!
        </p>
         <p>

            Nurtured from the seed of a single great idea - to empower the traveller - TripWithUs! is a pioneer in the US online travel industry. Founded in the year 2010 by Sudeepta Das, TripWithUs! came to life to empower the millenial traveller with instant bookings and comprehensive choices. The company initiated its journey serving the Austin market, offering a range of best-value products and services powered by technology and round-the-clock customer support.<br><br>

            After emboldening its position in the market as a brand recognised for its reliability and transparency, TripWithUs! launched its pan US operations in 2015. With more and more Americans initiating to transact online and new opportunities with the advent of low cost carriers, TripWithUs! offered travellers the convenience of booking travel online with a few clicks.<br><br>

            TripWithUs's rise has been led by the vision of its executive leadership team and the spirit of each one of its  employees, for whom no idea is too big and no problem too difficult. With untiring determination, TripWithUs! has proactively diversified its product offerings, adding a variety of online and offline services. TripWithUs! has stayed ahead of the curve by continually evolving its technology to meet the ever-changing demands of the rapidly developing global travel market, steadily establishing itself as the United States' leading online travel company.
            </p>
        </div>

        <!--- team introduction content -->
        <div class="container square-grid">

            <div class="card-deck mb-5">
            <div class="card" style="color: #555;">
                <div class="card-body">
                <img src="/assets/images/sudeepta.jpg" alt="Sudeepta picture" class="img-fluid"/>
                <h3 class="card-title mt-2">Sudeepta Das</h3>
                <h5 class="card-subtitle">Chief Executive Officer</h5>
                </div>
            </div>
            <div class="card" style="color: #555;">
                <div class="card-body">
                <img src="/assets/images/biswajeet.jpg" alt="Biswajeet picture" class="img-fluid"/>
                <h3 class="card-title mt-2">Biswajeet Mohapatra</h3>
                <h5 class="card-subtitle">Chief Operations Officer</h5>
                </div>
            </div>
            <div class="card" style="color: #555;">
                <div class="card-body">
                <img src="/assets/images/shivani.jpg" alt="Shivani picture" class="img-fluid"/>
                <h3 class="card-title mt-2">Shivani Sharma</h3>
                <h5 class="card-subtitle">Chief Information Officer</h5>
                </div>
            </div>
            <div class="card" style="color: #555;">
                <div class="card-body">
                <img src="/assets/images/aditya.jpg" alt="aditya picture" class="img-fluid"/>
                <h3 class="card-title mt-2">Aditya Wagholikar</h3>
                <h5 class="card-subtitle">Chief Financial Officer</h5>
                </div>
            </div>
            </div>
        </div>
       </div>

<!--Bootstrap4 JS files -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
