

  <!DOCTYPE html>
  <html lang="en">
    <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,300i,400" rel="stylesheet"> <!--including Google fonts Lato for our website-->

    <!-- Bootstrap Files for Header section alone -->

     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


    </head>
    <body>
      <div class="full-destination">
      <nav class="navbar navbar-expand-md">
          <a class="navbar-brand"><img src="/assets/images/sheero.png" alt="sheero_logo" class="sheero"></a>
          <span class="navbar-text mx-auto">TripWithUs!</span>

          <button class="navbar-toggler ml-auto navbar-light bg-light" data-toggle="collapse" data-target="#collapse_target">

              <span class="navbar-toggler-icon"></span>

          </button>

          <div class="collapse navbar-collapse" id="collapse_target">
          <ul class="navbar-nav ml-auto">

              <li class="nav-item">
                  <a class="nav-link" routerLink="">Home</a>
              </li>

              <li class="nav-item">
                  <a class="nav-link" routerLink="aboutus">About Us</a>
              </li>

              <li class="nav-item">
                  <a class="nav-link" routerLink="signup">Sign Up</a>
              </li>

              <li class="nav-item">
                  <a class="nav-link" routerLink="login">Login</a>
              </li>

          </ul>
          </div>
      </nav>



      <section class="add-destinations">
                  <div class="add-form-container">
                  <div class="row">
                      <h2 class="destination-h2" style="color:#555454;">Add Destination</h2>
                  </div>


                      <form (ngSubmit)="saveBook()" #bookForm="ngForm" class="add-form">
                          <!---- Destination city row ----------->

                          <div class="form-group">
                                  <label for="name">Destination City</label>


                                  <input type="text" style="font-size:1em;" class="form-control" [(ngModel)]="book.isbn" name="isbn" placeholder="enter city" required>
                            </div>

                          <!------- Destination Activity row --------->

                          <div class="form-group">
                          <label for="name">Destination Activity</label>

                          <input type="text" style="font-size:1em;" class="form-control" [(ngModel)]="book.title" name="title" placeholder="enter what you want to do, e.g. Hiking etc." required>

                         </div>

                          <!------- Destination Budget row --------->

                          <div class="form-group">
                          <label for="name">Destination Budget</label>


                        <input type="text" style="font-size:1em;" class="form-control" [(ngModel)]="book.author" name="author" placeholder="enter dollar amount e.g. $500" required>
                      </div>

                          <!------- Destination Image --------->

                        <div class="form-group">
                          <label for="name">Destination Image</label>


                          <input type="text" style="font-size:1em;" class="form-control" [(ngModel)]="book.publisher" name="publisher" placeholder="copy image address of city and paste here" required>
                        </div>

                          <!----------- Save button row ------------->

                            <div class="form-group">
                              <button type="submit" style="width:100%;padding:2% 0;font-size: 1em;margin-top:2%;" class="btn btn-success" [disabled]="!bookForm.form.valid">Save</button>
                            </div>

                      </form>


                      </div>


          <!----------------------------------  Mobile Form ------------------------------------------- -->
              <div class="add-form-container-mobile">
                  <div class="row">
                      <h2 class="destination-h2" style="color:#fff;">Add Destinations</h2>
                  </div>
                  <!------- Customer name row --------->
                  <div class="row">

                          <form (ngSubmit)="saveBook()" #bookForm="ngForm" class="add-form-mobile">

                                  <!---- Destination city row ----------->


                                  <label for="name">Destination City</label>


                                  <input type="text" style="font-size:1em;" class="form-control" [(ngModel)]="book.isbn" name="isbn" placeholder="enter city" required>

  <!------- Destination Activity row --------->


  <label for="name">Destination Activity</label>

  <input type="text" style="font-size:1em;" [(ngModel)]="book.title" class="form-control" name="title" placeholder="enter what you want to do, e.g. Hiking etc." required>


  <!------- Destination Budget row --------->


  <label for="name">Destination Budget</label>


  <input type="text" style="font-size:1em;" [(ngModel)]="book.author" class="form-control" name="author" placeholder="enter dollar amount e.g. $500" required>


  <!------- Destination Image --------->


  <label for="name">Destination Image</label>


  <input type="text" style="font-size:1em;" [(ngModel)]="book.publisher" class="form-control" name="publisher" placeholder="copy image address of city and paste here" required>


                          <!----------- Save button row ------------->




                          <div class="form-group">
                            <button type="submit" style="width:100%;padding:3% 0;font-size: 1em;margin-top:2%;" class="btn btn-success" [disabled]="!bookForm.form.valid">Save</button>
                          </div>
                      </form>

                  </div>
                      </div>

              </section>
              </div>
        <!------------------------------------------------------------------------------------------------------------------------->
        <!--Bootstrap4 JS files -->
          <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
          <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    </body>
  </html>
